.background {
  background-color: #00a3ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding: 72px 0 72px 0;
}
.background .back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 20px;
  left: 35px;
  text-decoration: none;
  color: black;
}
.background .back svg {
  height: 40px;
  width: 40px;
}
.background .back p {
  font-size: 20px;
}
.background form {
  display: flex;
  background-color: white;
  padding: 75px;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .background form {
    padding: 50px 30px 50px 30px;
  }
}
.background form .rejob {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}
.background form .rejob span {
  color: #00a3ff;
}
.background form p {
  font-size: 20px;
}
.background form .textArea {
  display: flex;
  flex-direction: column;
}
.background form .textArea .labelTextArea {
  margin-bottom: 5px;
  font-weight: 600;
}
.background form .textArea .labelTextArea span {
  color: #00a3ff;
  margin-left: 5px;
}
.background form .textArea textarea {
  width: 300px;
  border-radius: 5px;
  resize: none;
  height: 200px;
}
.background form label {
  margin-top: 20px;
  margin-bottom: -5px;
}
.background form input,
.background form select,
.background form .regras,
.background form .coincidir {
  width: 300px !important;
}
.background form input,
.background form select {
  height: 35px;
}
.background form .password {
  position: relative;
  width: 100%;
}
.background form .password .eyeButton {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  background-color: transparent;
  width: 35px;
  padding: 0;
  height: 35px;
  bottom: 0;
  right: 16px;
}

.background form .password .eye {
  color: black;
}
.background form input[type="password"] {
  padding-right: 40px;
}
.background form input[type="checkbox"] {
  width: auto !important;
  height: auto !important;
}
.background form .notify,
.background form .termos {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.background form .notify p,
.background form .termos p {
  font-size: 17px;
  margin: 0;
}
.background form .notify input,
.background form .termos input {
  width: 17px;
  height: 17px;
}
.background form .login {
  font-size: 17px;
  color: gray;
}
.background form .login a {
  color: gray;
}
.background form .submit {
  color: white;
  background-color: #00a3ff;
  border: 0px solid transparent;
  border-radius: 5px;
  font-size: 24px;
  padding: 0px 24px;
  font-weight: 600;
  cursor: pointer;
  height: 45px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
}
.background form .regras p,
.background form .coincidir p {
  font-size: 14px;
  margin: 0;
  color: rgb(100, 100, 100);
}
.background form .regras {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}
.background form .regras .qCaracteres,
.background form .regras .maiusculo,
.background form .regras .minusculo,
.background form .regras .number,
.background form .regras .simbolo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.background form .regras .qCaracteres svg,
.background form .regras .maiusculo svg,
.background form .regras .minusculo svg,
.background form .regras .number svg,
.background form .regras .simbolo svg {
  width: 20px;
  height: 20px;
}
.background form .regras .qCaracteres .check,
.background form .regras .maiusculo .check,
.background form .regras .minusculo .check,
.background form .regras .number .check,
.background form .regras .simbolo .check {
  color: rgba(0, 150, 0, 0.7);
}
.background form .regras .qCaracteres .close,
.background form .regras .maiusculo .close,
.background form .regras .minusculo .close,
.background form .regras .number .close,
.background form .regras .simbolo .close {
  color: rgba(255, 0, 0, 0.7);
}
.background form .coincidir {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}
.background form .coincidir svg {
  width: 20px;
  height: 20px;
}
.background form .coincidir .check {
  color: rgba(0, 150, 0, 0.7);
}
.background form .coincidir .close {
  color: rgba(255, 0, 0, 0.7);
}

.background form {
  flex-direction: column;
  width: auto;
  align-items: center;
  justify-content: center;
}
