@import "primeicons/primeicons.css";
@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "primereact/resources/primereact.min.css";

body,
html {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: rgb(255, 255, 255) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(150, 150, 150);
}

::-webkit-scrollbar-thumb {
  background-color: #00a3ff;
}
