@use 'mixins'
@use 'variables'
    
.main
    @include mixins.flex-align(column)
    height: 100vh
    width: 100%
    background-color: variables.$background-login
    form
        @include mixins.flex-align(column)
        background-color: variables.$form-login
        border-radius: 15px
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5)
        margin-left: 20px
        margin-right: 20px
        p
            margin: 0px 20px 0px 20px
        button
            @include mixins.buttons
            margin: 20px 20px 20px 20px
            width: 175px