:root {
    --first-blue: #00A3FF;
    --dark-black: #0F0F0F;
    --first-gray: #EDEFF0;
    --second-gray: #D2D4D4;
    --third-gray: #7C7C8A;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    padding-top: 130px;
    padding-bottom: 28px;
}

.title h1 {
    color: var(--first-blue);
    padding: 0;
    margin: 0;
}

.title p {
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
}

form .campos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
}

.campo label {
    color: var(--dark-black);
    font-weight: 600;
}

.campo label span {
    color: var(--first-blue);
}

.botoes {
    display: flex;
    padding: 64px 0px;
    justify-content: center;
    gap: 12px;
}

.botoes button {
    color: white;
    padding: 16px 10px;
    border-radius: 4px;
    border: solid 2px var(--first-gray);
}

.botoes button:hover {
    opacity: 0.92;
    cursor: pointer;
}

.botoes .back {
    background-color: var(--third-gray);
    min-width: 200px;
    font-weight: 600;
}

.botoes .save {
    min-width: 400px;
    font-weight: 600;
    background-color: var(--first-blue);

}

#salaryRangeMin {
    width: 50%;
}
#salaryRangeMax {
    width: 50%;
}


