<html>
<head>
	<title></title>
</head>
<body>
<h1 style="text-align: center;">ReJob</h1>

<h3 style="text-align: center;">Rede de Oportunidades para Reintegra&ccedil;&atilde;o</h3>

<p>Ol&aacute; $empregado,<br />
Boas-vindas a nossa plataforma ReJob. Nosso objetivo &eacute; realizar a conex&atilde;o de empresas e colaboradores socio-educacionais com detentos e ex-detentos, promovendo a reintegra&ccedil;&atilde;o dos mesmos na sociedade e conectando-os ao mercado de trabalho de forma simples e eficiente, al&eacute;m de ofertar cursos na &aacute;rea de interesse do indiv&iacute;duo para assim profissionaliz&aacute;-lo e prepar&aacute;-lo para o mercado de trabalho. Muito obrigado por se juntar a n&oacute;s!</p>

<p>Como <strong>usu&aacute;rio</strong>, voc&ecirc; ir&aacute;:</p>

<ul>
	<li>Receber informa&ccedil;&otilde;es sobre oportunidades pelo ReJob</li>
	<li>Escolher participar de treinamentos sugeridos pela plataforma</li>
	<li>Se candidatar a vagas compat&iacute;veis com seu perfil</li>
	<li>Receber feedback e suporte da equipe do ReJob</li>
	<li>Participar de treinamentos adicionais sugeridos pelas empresas</li>
	<li>Consumir conte&uacute;dos que ajudem no processo de reintegra&ccedil;&atilde;o &agrave; sociedade</li>
</ul>
</body>
</html>
