@use 'variables'
@use 'mixins'

@include mixins.forms
.background
    min-height: calc( 100vh -  150px)
    padding-top: 50px
    form
        flex-direction: column
        width: auto
        align-items: center
        justify-content: center
        margin-bottom: 0
        .lembrarMe
            margin-top: 5px
            display: flex
            flex-direction: row
            align-items: center
            width: 100%
            gap: 5px
            input
                height: 17px
                width: 17px
                cursor: pointer
            p
                font-size: 15px
        .acessar
            width: 100%
            @include mixins.buttons
            font-size: 20px
            margin-top: 15px
            margin-bottom: 25px
        .esqueceu, .crie
            font-size: 17px
            color: gray
        .crie
            margin-top: 15px
            margin-bottom: 25px
            a
                color: gray
