.body_container {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 1405px;
  background-color: #ffffff;
  padding-top: 1rem;
  overflow: auto;
  margin: 0 auto;
}

.redBar.ui-progressbar .ui-progressbar-value {
   background: red;
}