.body_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #edeff0;
  width: 65%;
  overflow: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.button {
  width: 259.505px;
  height: 40px;
  border-radius: 5px;
  border: #00a3ff;
  background: var(--first-blue, #00a3ff);
  flex-shrink: 0;
  color: var(--first-white, #fff);
  text-align: center;
  font-family: Mulish, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.button:hover {
  background: var(--second-blue, #007bb5);
  cursor: pointer;
}

button {
  margin-right: 7px;
  color: var(--first-blue, #00a3ff);
  text-align: center;
  font-family: Mulish, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  display: inline;
  padding: 9px 12px;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid var(--first-blue, #00a3ff);
  background: var(--first-white, #fff);
}

.subscribeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 843px;
  height: 146.749px;
  flex-shrink: 0;
  border-radius: 5px;
  background: rgba(0, 163, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.subscribeCard h1 {
  color: var(--dark-black, #0f0f0f);
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}
