:root {
    --first-blue: #00A3FF;
    --dark-black: #0F0F0F;
    --first-gray: #EDEFF0;
    --second-gray: #D2D4D4;
    --third-gray: #7C7C8A;
}

input {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(0, 163, 255, 0.03);
    color: var(--third-gray);
    border: solid 2px var(--first-gray);
    outline: none;
}

.campo label {
    margin-bottom: 0;
}

input::placeholder {
    color: var(--third-gray);
}

input:focus {
    border: 2px solid var(--first-blue);
}